<template>
    <div>
        <div id='legend'>
            <div class='items'>
                <div class='item'><div class='bullet' id='m5'></div><div class='label'>1&nbsp;–&nbsp;5</div></div>
                <div class='item'><div class='bullet' id='m10'></div><div class='label'>6&nbsp;-&nbsp;10</div></div>
                <div class='item'><div class='bullet' id='m15'></div><div class='label'>11&nbsp;–&nbsp;15</div></div>
            </div>
            <div class='caption'>минут езды</div>
        </div>
        <div id='map'></div>
        <nav id='menu'></nav>
    </div>
</template>

<script>
  import mapboxgl from 'mapbox-gl';
  import axios from 'axios';
  import StationDetails from './StationDetails.vue';
  import Vue from 'vue';

  export default {
    name: 'HelloWorld',
    data() {
      return {
        apiKey: 'pk.eyJ1Ijoic2thaXIiLCJhIjoiY2pwMDNtbGE1MGVzMTNwbzl6Z3hvcnJueSJ9.41U35et8dXG25SOOmPb53w',
        truckLocation: [65.556, 57.137],
        map: null,
        data: null,
        layers: null,
        directions: null,
      };
    },
    mounted() {
      this.createMap();
      this.createDirections();
      this.layers = document.getElementById('menu');

      //this.drawIsochrone();
      //Register Map Events
      this.registerEvents(this.map);
      this.addControls();
      //this.addTogles()
    },
    methods: {
      createDirections() {

      },

      addLayer(layer, name, map) {
        const self = this;
        // Create a simple layer switcher that
        // toggles layers on and off.
        let link = document.createElement('a');
        link.href = '#';
        link.className = 'active';
        link.innerHTML = name;
        link.id = layer;

        link.onclick = function (e) {
          let clickedLayer = this.id;
          e.preventDefault();
          e.stopPropagation();

          let visibility = map.getLayoutProperty(clickedLayer, 'visibility');

          if (visibility === 'visible') {
            map.setLayoutProperty(clickedLayer, 'visibility', 'none');
            link.className = '';
          } else {
            link.className = 'active';
            map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
          }
        };
        this.layers.appendChild(link);
      },

      createMap() {
        mapboxgl.accessToken = this.apiKey;
        // init the map
        const self = this;
        self.map = new mapboxgl.Map({
          container: 'map', // container id
          style: 'mapbox://styles/mapbox/streets-v9', //hosted style id
          center: self.truckLocation, // starting position
          zoom: 12, // starting zoom
          minZoom: 5 // keep it local
        });
      },

      drawParkomats() {
        const self = this;

        axios.get('http://127.0.0.1:8000/institutions/get_institutes')
          .then(res => {
            self.map.addLayer({
              id: "parkomats",
              type: "circle",
              source: {
                "type": "geojson",
                "data": {
                  "type": "FeatureCollection",
                  "features": res.data['features']
                }
              },
              paint: {
                'circle-radius': 10,
                'circle-color': '#007cbf',
                'circle-stroke-width': 3,
                'circle-stroke-color': '#fff'
                // 'marker-color': '#3bb2d0',
                // 'marker-size': 'large',
                // 'marker-symbol': 'rocket'

                //icon: {
                //  className: 'my-icon icon-dc', // class name to style
                //  html: '&#9733;', // add content inside the marker, in this case a star
                //  iconSize: null // size of icon, use null to set the size in CSS
                //}
              }
              // cluster: true,
              // clusterMaxZoom: 14, // Max zoom to cluster points on
              // clusterRadius: 50, // Radius of each cluster when clustering points (defaults to 50)
            });
            self.addLayer('parkomats', 'Паркоматы', self.map)
          })
          .catch(err => console.log(err));

      },

      drawIsochrone(location) {
        const self = this;
        let toGet = 'https://api.mapbox.com/isochrone/v1/mapbox/cycling/' +
          location[0] + ',' + location[1] + '?' +
          'contours_minutes=5,10,15&contours_colors=edf8b1,0cc78f,216fc2&polygons=true&access_token=' + self.apiKey;
        axios.get(toGet)
          .then(res => {
            res.data['features'].forEach((el, index) => {
              index = 3 - index;
              self.map.addLayer({
                "id": "isochrone-" + index,
                "type": "fill",
                "source": {
                  'type': 'geojson',
                  'data': el
                },
                "paint": {
                  "fill-color": el['properties']['fillColor'],
                  "fill-opacity": el['properties']['fillOpacity'],
                },
                "filter": ["==", "$type", "Polygon"]
              });
              self.addLayer("isochrone-" + index, 1 + (index - 1) * 5 + ' - ' + index * 5 + ' минут', self.map)
            });
          })
          .catch(err => console.log(err));
      },

      registerEvents(map) {
        const self = this;
        //Map Loaded
        map.on('load', () => {
          this.drawParkomats();
        });

        map.on('click', 'parkomats', (e) => {
          let coordinates = e.features[0].geometry.coordinates.slice();
          //let description = e.features[0].properties.description;

          // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }

          let mapLayer = map.getLayer('isochrone-1');

          if (typeof mapLayer !== 'undefined') {
            // Remove map layer & source.
            map.removeLayer("isochrone-1").removeSource("isochrone-1");
            map.removeLayer("isochrone-2").removeSource("isochrone-2");
            map.removeLayer("isochrone-3").removeSource("isochrone-3");
            document.getElementById("isochrone-1").remove();
            document.getElementById("isochrone-2").remove();
            document.getElementById("isochrone-3").remove();
          }


          this.drawIsochrone(e.features[0].geometry.coordinates);

          new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML('<div id="vue-popup-content"></div>')
            .addTo(map);

          const Constructor = Vue.extend(StationDetails);
          new Constructor().$mount('#vue-popup-content');
        });

        // Change the cursor to a pointer when the mouse is over the places layer.
        map.on('mouseenter', 'parkomats', () => {
          map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'parkomats', () => {
          map.getCanvas().style.cursor = '';
        });

      },
      addControls() {
        this.map.addControl(new mapboxgl.NavigationControl());
        this.map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
              enableHighAccuracy: true
            },
            trackUserLocation: true
          })
        )
      }
    }
  };

</script>

<style>
    body { margin:0; padding:0; font-family: sans-serif, Arial; font-size: 13px; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
    #menu {
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0,0,0,0.4);
        margin-right: 45px;
    }

    #menu a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        text-align: center;
    }

    #menu a:last-child {
        border: none;
    }

    #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
    }

    #menu a.active {
        background-color: #3887be;
        color: #ffffff;
    }

    #menu a.active:hover {
        background: #3074a4;
    }

    #legend { z-index: 101010; padding: 10px; position: absolute; text-align: center; color: #eee; bottom: 20px; left: 50%; margin-left: -80px; width: 200px; background: rgba(0,0,0,0.75); }
    #m5 { background: #edf8b1; }
    #m10 { background: #0cc78f; }
    #m15 { background: #216fc2; }
    #out {
        -webkit-box-shadow:inset 0px 0px 0px 2px #f00;
        -moz-box-shadow:inset 0px 0px 0px 2px #f00;
        box-shadow:inset 0px 0px 0px 2px #f00;
    }
    .items { text-align: center; }
    .item { display: inline-block; }
    .bullet { display: inline-block; margin: 3px 3px 0px 10px;  width: 10px; height: 10px; border-radius: 7px; }
    .label { display: inline-block; }
    .caption { line-height: 20px; text-align: center; }
</style>