<template>
    <v-flex>
        <v-card>
            <v-img
                    src="https://st3.depositphotos.com/9447932/18069/v/1600/depositphotos_180697048-stock-illustration-bicyclist-face-vector-illustration-flat.jpg"
                    height="200px"
            >
                <v-layout column fill-height>
                    <v-card-title>
                        <v-btn dark icon class="mr-3 blue darken-2">
                            <v-icon>chevron_left</v-icon>
                        </v-btn>

                        <v-spacer></v-spacer>

                        <v-btn dark icon class="mr-3 blue darken-2">
                            <v-icon>edit</v-icon>
                        </v-btn>
                    </v-card-title>

                    <v-spacer></v-spacer>

                    <div class="text-xs-center">
                        <v-chip color="blue darken-2" text-color="white">
                            <v-avatar>
                                <v-icon>account_circle</v-icon>
                            </v-avatar>
                            Иван
                        </v-chip>

                        <v-chip color="amber accent-3" text-color="white">
                            Premium
                            <v-icon right>star</v-icon>
                        </v-chip>
                    </div>

                </v-layout>
            </v-img>

            <v-list two-line subheader>
                <v-subheader>Маршрут до ближайших точек</v-subheader>


                <v-list-tile @click="">
                    <v-list-tile-avatar>
                        <v-icon color="blue darken-2">build</v-icon>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>100 метров</v-list-tile-title>
                        <v-list-tile-sub-title>Мастерская</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="">
                    <v-list-tile-avatar>
                        <v-icon color="blue darken-2">local_cafe</v-icon>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>326 метров</v-list-tile-title>
                        <v-list-tile-sub-title>Кафе</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon color="blue darken-2">directions_bike</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>1.2 километра</v-list-tile-title>
                        <v-list-tile-sub-title>Велостанция</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-divider class="mt-3"></v-divider>

                <v-subheader>Статистика за все время</v-subheader>

                <div class="ml-2">
                    <v-chip color="cyan" text-color="white">
                        <v-avatar class="cyan darken-3">54</v-avatar>
                        Километра
                    </v-chip>

                    <v-chip color="cyan" text-color="white">
                        <v-avatar class="cyan darken-3">3</v-avatar>
                        Часа
                    </v-chip>

                    <v-chip color="cyan" text-color="white">
                        <v-avatar class="cyan darken-3">4</v-avatar>
                        Поездки
                    </v-chip>
                </div>



            </v-list>
        </v-card>
    </v-flex>
</template>

<script>
  export default {
    name: 'Account',
    data () {
      return {
        items: [
          { title: 'Личный кабинет', icon: 'dashboard' },
          { title: 'О нас', icon: 'question_answer' }
        ]
      }
    }
  }
</script>

<style scoped>

</style>