<template>
    <v-container class="ma-0 pa-0" text-xs-center>
        <v-rating
                v-model="rating"
                color="amber accent-3"
                dense
                half-increments
                size="19"

                readonly="true"
        >
        </v-rating>
        <v-progress-circular
                :rotate="90"
                :size="75"
                :width="10"
                :value="100 * freeBikes / parkPlaces"
                color="blue darken-2"
        >
            {{ freeBikes }}/{{ parkPlaces }}
        </v-progress-circular>

        <div class="caption mt-2 grey--text">Изохроны</div>
        <v-layout align-center justify-center row>

            <v-chip
                    v-for="c in isochrones"
                    :outline="c.on"
                    class="ma-0 ml-1"
                    @click="c.on = !c.on"
            >
                {{c.value}}
            </v-chip>
        </v-layout>

        <v-layout align-center justify-center row>
            <v-btn flat icon color="blue darken-2">
                <v-icon>directions</v-icon>
            </v-btn>
        </v-layout>
    </v-container>
</template>

<script>
  export default {
    name: 'StationDetails',
    methods: {
      popupClicked() {
        alert('Popup Clicked!');
      },
    },
    data: () => ({
      rating: 4.3,
      freeBikes: 80,
      parkPlaces: 83,
      predictions: ['Сейчас', 'Через час', 'Через 2 часа', 'Через 3 часа'],
      isochrones: [
        {on: true, value: 5},
        {on: true, value: 10},
        {on: true, value: 15},
      ],
      value: []
    })
  }
</script>

<style scoped>

</style>