<template>
  <v-app>
      <v-navigation-drawer absolute
                           temporary
                           v-model="drawer" app>
        <navigation></navigation>
      </v-navigation-drawer>
      <v-toolbar app>
          <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-toolbar-title class="headline text-uppercase">
              <span>X</span>
              <span class="font-weight-light">BIKE</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>
      </v-toolbar>
      <v-content>
          <mapbox></mapbox>
      </v-content>
  </v-app>
</template>

<script>
  import Mapbox from './components/Mapbox.vue';
  import Navigation from './components/Navigation.vue';

    export default {
      name: 'App',
      components: {
        Mapbox,
        Navigation
      },
      data () {
        return {
          drawer: false
        }
      }
    }
</script>
